/* debug */
[class*="col-"] {
    background-color:darkorange;
    border: 1px solid white;
    height: 50px;
}

.padd{
    padding: 10px;
}

.int{
    background-color: blue;
    height: 30px;
}

.row{
    margin-bottom: 50px;
}